body {
  background-image: url("./beautiful-landscape.jpg");
  height: 100%;
  background-position-y: top;
  margin-top: 50px;
  padding-top: 50px;
}

.h1 {
  text-align: center;
  margin-top: 25%;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: transparent;
  }
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 180px;
}

#form {
  align-content: center;
  margin-left: 150px;
  margin-right: 150px;
  width: 20%;
  border: turquoise;
}

#username {
  color: red;
  font-size: 20px;
  font-family: verdana;
  font-size: 30px;
  font-weight: 300;
}

.description {
  color: maroon;
  font-size: 25px;
  text-decoration-line: underline;
}

#Submit {
  background-color: purple;
}

#gender {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-emphasis-color: black;
  font-size: 30px;
}

#about-Ghana {
 background-color: transparent;
 text-align: justify;
 padding-left: 30px;
 padding-right: 30px;
}

#aboutGhanaHeader {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: crimson;
  text-align: center;
}
#par-1,
#par-2,
#par-3 {
  color: black;
  font-weight: bold;
}