body {
    background-image:
    url("./background.jpg");
}

h1 {
    font-family: Verdana;
    color: red;
    text-align: center;
    padding: 60px;
}

h2 {
    font-style: italic;
    flood-color: rgb(27, 2, 18);
    padding: 60px;
    text-align: center;
}


